---
layout: core-js
title: Marek Ian C
---
<div class="ui container sans">
    <div class="padded-header">
      {% include siteHeader.html %}
      {% include navHeader.html %}
    </div>
    <div class="large paragraphs">

        <h2 class="ui center aligned header">
            I’m Marek, a software engineer and physics graduate. Here are some things I’ve written and programmed.
        </h2>
        <h1 class="center">Projects</h1>
        <div class='ui cards'>
            {% assign projects = site.projects | reverse%}
            {% for project in projects%}
                {{project.content}}
            {% endfor %}
        </div>
    </div>
    {% include siteFooter.html %}
</div>